<%= render "partials/elements/banner-vendidos" %>
<div class="mdl-grid">
<% @ads.each do |ad| %>
  <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col">
    <div class="mdl-card__title" style="background-image: url(<%= ad.cover.url(:thumb) %>);">
      <h2 class="mdl-card__title-text white-text back-tran thin-text small-padding"><%= ad.title %></h2>
    </div>
    <div class="mdl-card__supporting-text justify-text">
      <h5><%= truncate(ad.description, length: 100) %></h5>
    </div>
    <div class="mdl-card__supporting-text black-text bold-text">
      <h6 class="mdl-card__title-text inline-block"><i class="material-icons">attach_money</i><%= ad.price %>
      </h6>
      <% if ad.selled? == false %>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect green-light white-text bold-text float-right enventa">
            En venta
        </button>
      <% else %>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect float-right red bold-text white-text vendido">
            Vendido
        </button>
      <% end %>
    </div>
    <div class="mdl-card__supporting-text">
      <h6>
        <i class="material-icons">smartphone</i>
        <%= ad.cellphone %>
        <i class="material-icons small-padding-left">phone</i>
        <%= ad.phone %>
      </h6>
    </div>
    <div class="mdl-card__supporting-text">
      <h6><i class="material-icons">location_on</i><%= ad.city %>, <%= ad.region %>, Ecuador</h6>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to ad, class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" do %>
        <i class="material-icons">add</i>
        Ver más
      <% end %>
      <%= link_to ad, class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" do %>
        <i class="material-icons">attach_money</i>
        Comprar
      <% end %>
    </div>
    <% if ad.premiuned? %>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect gold black-text bold-text premiun">
          <i class="material-icons">start</i>
          Premiun
        </button>
      </div>
    <% elsif ad.toped? %>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect black white-text bold-text">
          <i class="material-icons">looks_one</i>
          Top
        </button>
      </div>
    <% else %>
    <% end %>
  </div>
<% end %>
</div>
