<!-- Wide card with share menu button -->
<style>
.demo-card-wide.mdl-card {

}
.demo-card-wide > .mdl-card__title {
  color: black;
  height: 200px;
  background-image: url(http://fravega.vteximg.com.br/arquivos/ids/275446-1000-1000/CELULAR-LIBRE-SAMSUNG-GRAND-PRIME-WHITE-4G.jpg);
  background-position: center;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>
<% @ads.each do |ad| %>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col"  style="color:black;">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"><%= ad.title %></h2>
      </div>
      <div class="mdl-card__supporting-text">
        <%= truncate(ad.description, lenght: 10) %>
      </div>
      <div class="mdl-card__supporting-text">
        <i class="material-icons">smartphone</i>
        <%= ad.cellphone %>
        <i class="material-icons">phone</i>
        <%= ad.phone %>
        <i class="material-icons">money</i>
        <%= ad.price %>
      </div>
      <div class="mdl-card__supporting-text">
        <i class="material-icons">location_on</i>
        <%= ad.city %>, <%= ad.region %>, Ecuador
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <%= link_to ad, class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" do %>
          <i class="material-icons">add</i>
          Ver más
        <% end %>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">start</i>
        </button>
      </div>
    </div>
<% end %>

