<div class="android-drawer mdl-layout__drawer">
<%= link_to "Quevedo Electrónico", root_path, class:"mdl-layout-title marine grey-text bold-text" %>
<nav class="mdl-navigation">
      <%= link_to root_path, class:"mdl-navigation__link" do %>
        <i class="material-icons">home</i>
        Home
      <% end %>
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete, class:"mdl-navigation__link" do %>
          Cerrar Sesión
          <i class="material-icons">exit_to_app</i>
        <% end %>
      <% end %>
      <% if user_signed_in? == false %>
        <%= link_to new_user_session_path, class:"mdl-navigation__link" do %>
          <i class="material-icons">exit_to_app</i>
          Iniciar Sesión
        <% end %>      
        <%= link_to new_user_registration_path, class:"mdl-navigation__link" do %>
          <i class="material-icons">person_add</i>
          Registrarse
        <% end %>
      <% end %>
      <%= link_to new_ad_path, class:"mdl-navigation__link" do %>
        <i class="material-icons">publish</i>
        Publicar
      <% end %>
      <%= link_to premiun_path, class:"mdl-navigation__link" do %>
        <i class="material-icons">star</i>
        Premiun
      <% end %>
      <%= link_to top_path, class:"mdl-navigation__link" do %>
        <i class="material-icons">looks_one</i>
        Top
      <% end %>
      <%= link_to recientes_path, class:"mdl-navigation__link" do %>
        <i class="material-icons">announcement</i>
        Publicaciones
      <% end %>
      <%= link_to populares_path, class:"mdl-navigation__link" do %>
        <i class="material-icons">public</i>
        Populares
      <% end %>
      <%= link_to economicos_path, class:"mdl-navigation__link" do %>
        <i class="material-icons">money_off</i>
        Economicos
      <% end %>
      <%= link_to nuevos_path, class:"mdl-navigation__link" do %>
        <i class="material-icons">fiber_new</i>
        Nuevos
      <% end %>
      <%= link_to usados_path, class:"mdl-navigation__link" do %>
        <i class="material-icons">battery_alert</i>
        Usados
      <% end %>
      <%= link_to caros_path, class:"mdl-navigation__link" do %>
        <i class="material-icons">backup</i>
        Mayor precio
      <% end %>
      <%= link_to vendidos_path, class:"mdl-navigation__link" do %>
        <i class="material-icons">speaker_notes_off</i>
        Vendidos
      <% end %>
</nav>
</div>
