<!DOCTYPE html>
<html>
  <head>
    <title>Quevedo Electrónico</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.blue_grey-lime.min.css" />
    <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
<%= render "partials/header/nav_tab" %>
<%= render "partials/elements/drawer" %>
<div class="android-content mdl-layout__content">
<a name="top"></a>
<div class="android-wear-band" style="text-align:center;">
  <div class="android-wear-band-text">
    <div class="mdl-typography--display-2 mdl-typography--font-thin">Mis Publicaciones <i class="material-icons">start</i></div>
    <p class="mdl-typography--headline mdl-typography--font-thin">
      En Quevedo Electrónico
    </p>
    <p>
      <a class="mdl-typography--font-regular mdl-typography--text-uppercase android-alt-link" style="color:black;" href="">
        Mira todas las ultimas publicaciones<i class="material-icons">chevron_right</i>
      </a>
    </p>
  </div>
</div>
<div class="mdl-grid">
  <%= yield%>
</div>

<%= render "partials/footer" %>
  </body>
</html>